<h1 align=center>{{ question.question_text }}</h1>

<div>
{% if error_message  %} <p><strong> {{error_message}} </strong></p> {% endif %}
</div>

<div align=center>
<form method='post' action="{% url 'polls:vote' question.id %}">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    {% comment %} <input type='radio' name='choice' id="choice{{ forloop.counter }}" value="{{ choice_id }}"> {% endcomment %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }} </label> <br>
{% endfor %}
<br>
<input type=submit value="Vote">
</form>
</div>

<ul>

</ul>